* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background: #1c0c5b;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #3d2c8d;
}

::-webkit-scrollbar-thumb {
  background-color: #916bbf;
  border-radius: 20px;
  height: 50px;
}

.loaders {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fff;
}

body::selection {
  background-color: #916bbf;
}

.nav-container {
  width: 100%;
  height: 60px;
  background: transparent;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.nav-container.active {
  backdrop-filter: blur(17px) saturate(191%);
  background-color: rgba(61, 44, 141, 0.66);
}

.navbar {
  width: 90%;
  margin: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo > h1 {
  color: #f6ccef;
  font-size: 19px;
  text-transform: capitalize;
  margin: 0;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.1s both;
  cursor: pointer;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.list-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-group.active {
  transform: translateX(0);
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  margin: 0 25px;
  color: #f6ccef;
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 400;
  border: 2px solid transparent;
  padding: 8px 10px;
  text-align: center;
  position: relative;
  animation: fade-in-fwd 3s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s forwards;
}

@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 102%;
  height: 3px;
  border-radius: 4px;
  right: 0;
  top: -3px;
  background: #d700ff;
  transform: scale(0);
}

.nav-link:hover::before {
  color: #d700ff;
  font-weight: 400;
  transition: all 0.3s linear;
  transform: scale(1.1);
  font-size: 14px;
}

.nav-link:active {
  color: #d700ff;
  font-weight: 400;
  transition: all 0.3s linear;
}

.icons {
  cursor: pointer;
  display: none;
  animation: fade-in-fwd 3s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s forwards;
}

.bar1,
.bar3 {
  width: 25px;
  margin: 4px;
  height: 3px;
  background: #f6ccef;
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.bar2 {
  width: 20px;
  margin: 4px;
  height: 3px;
  background: #f6ccef;
  transition: all 0.5 cubic-bezier(0.17, 0.67, 0.83, 0.67);
  border-radius: 5px;
}

.bar1.active {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.bar2.active {
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

@keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateZ(0);
    opacity: 0;
  }
}

.bar3.active {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 660px) {
  .list-group {
    position: absolute;
    right: 0;
    height: 92vh;
    width: 50%;
    top: 60px;
    backdrop-filter: blur(17px) saturate(191%);
    background-color: rgba(61, 44, 141, 0.66);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.6s ease-in;
  }

  .nav-link {
    width: 50%;
    margin: 40px 0;
    animation: fade-in-fwd 3s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s forwards;
  }

  .icons {
    display: block;
  }

  .list-group li {
    font-size: 16px;
  }
}

.intro-container {
  width: 90%;
  margin: auto;
  position: relative;
  top: 7rem;
  animation: slide-in-fwd-center 0.4s ease-out both 2s;
}

@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.sub-container {
  width: 80%;
  margin: auto;
  /* display: flex;
    align-items: center; */
}

.block-flex > p {
  color: #916bbf;
  letter-spacing: 1.3px;
}

.block-flex > h2 {
  font-size: 80px;
  color: #f6ccef;
  margin: 8px 0;
  font-weight: 700;
}

.block-flex > h1 {
  color: #a588b0;
  font-size: 5.3vw;
  margin: 8px 0;
  font-weight: 700;
}

.block-flex > h3 {
  color: #916bbf;
  font-size: 2vw;
}

.block-flex > p:nth-child(5) {
  color: #f6ccef;
  font-size: 13px;
  width: 40vw;
  /* text-align: justify; */
  line-height: 1.8;
  font-weight: 300;
}

.button {
  outline: 0;
  background: transparent;
  border: 1px solid #916bbf;
  border-radius: 5px;
  color: #f6ccef;
  margin-top: 10px;
  min-width: 130px;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  z-index: 0;
  overflow: hidden;
}

.button:hover {
  color: #fff;
}

.button:hover:after {
  width: 100%;
}

.button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #3d2c8d;
}

.button:active {
  color: #1c0c5b;
}

div.sub-container > div > a:nth-child(6) {
  margin-right: 10px;
  background-color: #d700ff;
}

.side1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 0;
}

span {
  width: 1px;
  height: 70px;
  background: #a588b0;
}

svg:hover {
  stroke: #ffffff;
}

.icon-link:hover {
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

@media screen and (max-width: 870px) {
  .block-flex {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .block-flex > p {
    text-align: center;
  }

  .block-flex > h2 {
    font-size: 9vw;
  }

  .block-flex > p:nth-child(5) {
    width: 60vw;
  }

  .side1 {
    display: none;
  }

  div.sub-container > div > a:nth-child(6) {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .block-flex > p:nth-child(5) {
    width: 100%;
  }
}

.intro-container {
  width: 90%;
  margin: auto;
  position: relative;
  top: 7rem;
  animation: slide-in-fwd-center 0.4s ease-out both 2s;
}

@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.sub-container {
  width: 80%;
  margin: auto;
  /* display: flex;
    align-items: center; */
}

.block-flex > p {
  color: #916bbf;
  letter-spacing: 1.3px;
}

.block-flex > h2 {
  font-size: 80px;
  color: #f6ccef;
  margin: 8px 0;
  font-weight: 700;
}

.block-flex > h1 {
  color: #a588b0;
  font-size: 5.3vw;
  margin: 8px 0;
  font-weight: 700;
}

.block-flex > h3 {
  color: #916bbf;
  font-size: 2vw;
}

.block-flex > p:nth-child(5) {
  color: #f6ccef;
  font-size: 13px;
  width: 40vw;
  /* text-align: justify; */
  line-height: 1.8;
  font-weight: 300;
}

.button {
  outline: 0;
  background: transparent;
  border: 1px solid #916bbf;
  border-radius: 5px;
  color: #f6ccef;
  margin-top: 10px;
  min-width: 130px;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  z-index: 0;
  overflow: hidden;
}

.button:hover {
  color: #fff;
}

.button:hover:after {
  width: 100%;
}

.button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #3d2c8d;
}

.button:active {
  color: #1c0c5b;
}

div.sub-container > div > a:nth-child(6) {
  margin-right: 10px;
  background-color: #d700ff;
}

.side1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 0;
}

span {
  width: 1px;
  height: 70px;
  background: #a588b0;
}

svg:hover {
  stroke: #ffffff;
}

.icon-link:hover {
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

@media screen and (max-width: 870px) {
  .block-flex {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .block-flex > p {
    text-align: center;
  }

  .block-flex > h2 {
    font-size: 9vw;
  }

  .block-flex > p:nth-child(5) {
    width: 60vw;
  }

  .side1 {
    display: none;
  }

  div.sub-container > div > a:nth-child(6) {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .block-flex > p:nth-child(5) {
    width: 100%;
  }
}

.intro-container {
  width: 90%;
  margin: auto;
  position: relative;
  top: 7rem;
  animation: slide-in-fwd-center 0.4s ease-out both 2s;
}

@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.sub-container {
  width: 80%;
  margin: auto;
  /* display: flex;
    align-items: center; */
}

.block-flex > p {
  color: #916bbf;
  letter-spacing: 1.3px;
}

.block-flex > h2 {
  font-size: 80px;
  color: #f6ccef;
  margin: 8px 0;
  font-weight: 700;
}

.block-flex > h1 {
  color: #a588b0;
  font-size: 5.3vw;
  margin: 8px 0;
  font-weight: 700;
}

.block-flex > h3 {
  color: #916bbf;
  font-size: 2vw;
}

.block-flex > p:nth-child(5) {
  color: #f6ccef;
  font-size: 13px;
  width: 40vw;
  /* text-align: justify; */
  line-height: 1.8;
  font-weight: 300;
}

.button {
  outline: 0;
  background: transparent;
  border: 1px solid #916bbf;
  border-radius: 5px;
  color: #f6ccef;
  margin-top: 10px;
  min-width: 130px;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  z-index: 0;
  overflow: hidden;
}

.button:hover {
  color: #fff;
}

.button:hover:after {
  width: 100%;
}

.button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #3d2c8d;
}

.button:active {
  color: #1c0c5b;
}

div.sub-container > div > a:nth-child(6) {
  margin-right: 10px;
  background-color: #d700ff;
}

.side1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 0;
}

span {
  width: 1px;
  height: 70px;
  background: #a588b0;
}

svg:hover {
  stroke: #ffffff;
}

.icon-link:hover {
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

@media screen and (max-width: 870px) {
  .block-flex {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .block-flex > p {
    text-align: center;
  }

  .block-flex > h2 {
    font-size: 9vw;
  }

  .block-flex > p:nth-child(5) {
    width: 60vw;
  }

  .side1 {
    display: none;
  }

  div.sub-container > div > a:nth-child(6) {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .block-flex > p:nth-child(5) {
    width: 100%;
  }
}

.abt-container {
  width: 90%;
  margin: auto;
  position: relative;
  top: 10rem;
}

.sub-abt {
  width: 80%;
  margin: auto;
}

.first > h1 {
  color: #a588b0;
  text-transform: capitalize;
  display: inline-block;
  font-size: 4vw;
  margin-right: 5px;
}

.first > div {
  width: 10vw;
  height: 1px;
  background-color: #a588b0;
  display: inline-block;
}

.card1 > p {
  color: #f6ccef;
  font-size: 13px;
  /* width: 40vw; */
  line-height: 1.8;
  font-weight: 300;
}

.second {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.technology > div {
  background: #080047f5;
  border: 1px solid #30206f;
  font-size: 9px;
  color: #f6ccef;
  padding: 13px 15px;
  width: 100px;
  text-align: center;
  border-radius: 5px;
}

.technology {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 1rem;
}

.profile {
  width: 100%;
}

.general-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.card1 {
  width: 55%;
}

.card2 {
  width: 44%;
  position: relative;
  /* left: 185px; */
  /* display: none; */
}

div.card1 > a:nth-child(4) {
  margin-left: 10px;
}

@media screen and (max-width: 870px) {
  .general-card {
    flex-direction: column;
  }
  .card1,
  .card2 {
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .second {
    flex-direction: row;
  }
  .technology {
    flex-direction: column;
  }
}

.contact-container {
  width: 100%;
  margin: auto;
  position: relative;
  top: 17rem;
  background: url(./Assets/Sprinkle.svg);
  background-size: 100%;
}

.sub-contact {
  width: 80%;
  margin: auto;
  display: grid;
  place-items: center;
}

#contact > div > div.first > p {
  color: #f6ccef;
  font-size: 13px;
  width: 40vw;
  line-height: 1.8;
  font-weight: 300;
  margin-bottom: 30px;
}

.forms {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.forms > div {
  width: 100%;
}

.forms > div > input {
  width: 100%;
  height: 44px;
  padding: 10px;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  border-radius: 5px;
  background: #3d2c8d;
  color: #f6ccef;
  font-weight: 300;
}

form > div:nth-child(3) > textarea {
  width: 100%;
  height: 160px;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  border-radius: 5px;
  background: #3d2c8d;
  color: #f6ccef;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

form > div:nth-child(1) {
  display: flex;
  gap: 1rem;
  align-items: center;
}

::placeholder {
  color: #f6ccef;
  font-weight: 300;
}

.footer {
  margin-top: 20px;
}

.side-footer {
  display: none;
  padding: 10px 0;
}

.side-footer > .icon-link > svg:hover {
  stroke: #d700ff;
}

.footer > p {
  text-align: center;
  color: #a588b0;
  font-size: 12px;
  font-weight: 300;
  padding: 10px 0;
}

@media screen and (max-width: 870px) {
  .side-footer {
    display: block;
    width: 70%;
    /* margin: auto; */
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
  }
}

@media screen and (max-width: 820px) {
  #contact > div > div.first > p {
    width: 60vw;
  }

  .forms {
    width: 85%;
  }
}

@media screen and (max-width: 420px) {
  #contact > div > div.first > p {
    width: 70vw;
  }

  .forms {
    width: 90%;
  }

  form > div:nth-child(1) {
    flex-direction: column;
  }
}
